<h2>User registration</h2>

<form action="/auth/signup" method="POST">
    <label for="email">Email: 
        <input type="email" name="email" placeholder="email">
    </label>
    <label for="password">Password: 
        <input type="password" name="password">
    </label>
    <label for="fullName">Full name: 
        <input type="text" name="fullName" placeholder="Write your name">
    </label>
    <button type="submit">Create profile</button>
</form>

{{#if errorMessage}}
   <p style="color:red">{{errorMessage}}</p>
{{/if}}